<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <%= link_to 'Back', blogs_path, class: "btn btn-primary" %>
   <center> <%= form.submit class: "btn btn-primary" %></center>
    
  </div>
<% end %>