<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="card card-block">
        <center><h4 class="card-title">Post created by: <%= link_to @blog.user.username, user_path(@blog.user.username) %></h4></center>
           <center><%= image_tag @blog.image, class: "img-fluid" %></center>
         <center><p class="card-text"><%= @blog.content %></p>
        <div classs= "container">
        <% if @blog.user == current_user %>
          | <%= link_to 'Back', blogs_path, class: "btn btn-primary"%> |
          <%= link_to 'Edit', edit_blog_path(@blog), class: "card-link", class:"btn btn-success" %> |
          <%= link_to 'Delete', @blog, method: :delete, class: "card-link", class: "btn btn-danger" %> |
          <center><div id="comments">
            <% if @blog.comments.present? %>
            <h1>Comments</h1>
            <%= render @blog.comments %>
          <% end %>
          <h2>Add a Comment</h2>
          <%= render partial: "comments/form", locals: {comment: @blog.comments.new} %>
        </div> </center>

        |<%= link_to 'Back', blogs_path, class: "btn btn-primary"%> |

        <% end %>

        </div></center>
      </div>
    </div>
  </div>
</div>




