<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="card card-block">
        <h4 class="card-title"><%= link_to @blog.user.username, user_path(@blog.user.username) %></h4>
      
        <p class="card-text"><%= @blog.content %></p>
        <% if @blog.user == current_user %>
          <%= link_to 'Edit', edit_blog_path(@blog), class: "card-link" %>
          <%= link_to 'Delete', @blog, method: :delete, class: "card-link" %>
        <% end %>
        <%= link_to 'Back', blogs_path, class: "card-link" %>
      </div>
    </div>
  </div>
</div>