<center><div>

<strong> <%= comment.username %></strong>
<%= comment.content %>
<div class="comment-admin">
 <% if @blog.user == current_user %>
  | <%= link_to "Edit", edit_blog_comment_path(@blog, comment), class:"btn btn-success" %> |
  <%= link_to "Delete", blog_comment_path(@blog, comment), method: :delete, class: "btn btn-danger" %> |
<% else %>

  | <%= link_to "Show", blog_comment_path(@blog, comment), class:"btn btn-success" %> |
  <% end %>
</div>
</div>
</div></center>
 