<%= form_for [@blog, comment] do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username  %>
  </div>

  <div class="field">
    <%= f.label :content, "Comment" %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>