<center>
<%= form_for [@blog, comment] do |f| %>


  <div class="field">
  
      
    <% if user_signed_in? %>
  <h4 id="cname"> Commenter's <%= f.label :username %> :
<%= current_user.username.capitalize or f.text :username %>
    </h4>
  </div>

  <div class="field">

    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% else %>
  <%= f.label :username %> :
  <%= f.text_field :username  %>
    </h4>
  </div>

  <div class="field">
    <%= f.label :comment %> :
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<% end %></center>